.produto
{
	float:left;
	width:180px;
	min-height:85px;
	height:auto;
	border:1px solid #eaeaea;
	border-radius:5px;
	margin-left:10px;
	margin-top:10px;
	text-align:center;
	font-family: verdana;
	color: #666666;
}

.img_produto
{
	width:160px;
	height:130px;
	margin-top:5px;
}


.valor
{
	color: #0b8d14;
	font-size: 16pt;
	font-family: verdana;
}